div:hover {
    border-width: 15px;
    border: 100px;
    border-color: rgb(2, 2, 2);
}
#div1{
    color: red;
}
#div2{
    color: orangered;
}
#div3{
    color: rgb(133, 133, 7);
    font-size: 40px;
}
#div4{
    color: rgb(80, 15, 80);
}
#div5{
    color:rgb(73, 116, 10);
}
#div1,#div2,#div3 {
    font-style: italic;
}